Exercise 1: Make an empty list and call it names

In [1]:
names = []

Exercise 2: Make names filled with names of 5 people: Hannah, Victor, Sam, James, Sarah

In [2]:
names.append("Hannah")
names.append("Victor")
names.append("Sam")
names.append("James")
names.append("Sarah")

print(names)

['Hannah', 'Victor', 'Sam', 'James', 'Sarah']

Exercise 3: Make names sorted in reverse. Print out the list using a for-loop

In [ ]:
names.sort(reverse=True)
print(names)

Exercise 4: Make names sorted alphabetically. Print out the list using while loop

In [ ]:
for name in sorted(names) :
    print(name)

Exercise 5: Pull out the fourth item from names and print it out

In [3]:
print(names[3])

James

Exercise 6: Pull out the first item from names and print it out

In [4]:
print(names[0])

Hannah

Exercise 7: Make a variable named fruits that contains a string "Apples, Oranges, Bananas, Pineapples, Persimmons, Dragonfruit" and make it into a list splitting it by the commas.

In [7]:
fruits = "Apples, Oranges, Bananas, Pineapples, Persimssions, Dragonfruit"
fruits_list = fruits.split(", ")
print(fruits_list)

['Apples', 'Oranges', 'Bananas', 'Pineapples', 'Persimssions', 'Dragonfruit']

Exercise 8: Write a program to generate a right-triangle using asterisks(*) where the base of the triangle has 10 asterisks

In [13]:
i = 1
while i <= 10 :
    print("*" * i)
    i += 1

*
**
***
****
*****
******
*******
********
*********
**********

Exercise 9: Create a list of the first 10 square numbers. i.e. the square of each integer from 1 to 10.

In [14]:
squares = []
i = 1
while i <= 10 :
    squares.append(i*i)
    i += 1
    
print(squares)

[1, 4, 9, 16, 25, 36, 49, 64, 81, 100]

Exercise 10: Create a multiplication table from 1 to 10

In [66]:
x_axis = [1, 2, 3, 4, 5, 6, 7, 8, 9, 10]
y_axis = x_axis.copy()

print("  X", end="\t")
for x in x_axis :
    print(f" {x:2}", end="\t")
print()
print("-" * 90)

for y in y_axis :
    print(f"{y:2}", end="|\t")
    for x in x_axis :
        print(f"{x*y:3}", end="\t")
    print()

  X	  1	  2	  3	  4	  5	  6	  7	  8	  9	 10
------------------------------------------------------------------------------------------
 1|	  1	  2	  3	  4	  5	  6	  7	  8	  9	 10
 2|	  2	  4	  6	  8	 10	 12	 14	 16	 18	 20
 3|	  3	  6	  9	 12	 15	 18	 21	 24	 27	 30
 4|	  4	  8	 12	 16	 20	 24	 28	 32	 36	 40
 5|	  5	 10	 15	 20	 25	 30	 35	 40	 45	 50
 6|	  6	 12	 18	 24	 30	 36	 42	 48	 54	 60
 7|	  7	 14	 21	 28	 35	 42	 49	 56	 63	 70
 8|	  8	 16	 24	 32	 40	 48	 56	 64	 72	 80
 9|	  9	 18	 27	 36	 45	 54	 63	 72	 81	 90
10|	 10	 20	 30	 40	 50	 60	 70	 80	 90	100

Exercise 11: Write a program that gets test scores from a user and then calculates and displays the average of the scores that have been enter. The output of the program should show the original scores and the average.

In [89]:
scores = []

"""
Function: get_average - if the list contains no elements/items, you can't divide by zero therefore, it simply
print 'No scores'. Otherwise, it will go through the list and add each element value to total_score where, at the
end, is divided by the number of scores to calculate the average.

It will display each value in the list and display the computed average.
"""
def get_average(list) :
    num_values = len(list)
    counter = 1
    total_score = 0
    if num_values == 0 :
        print("No scores")
        return
    for score in list :
        print(f"{counter:2}.\t{score:>7,.2f}")
        total_score += score
        counter += 1
        
    average = total_score/num_values
    print(f"Average score:\t{average:>7,.2f}")
    
"""
Function: check_float - test the input from the user is a valid float value, returns True if value is of type 'float'
else return False.
"""
def check_float(parm) :
    try :
        retval = float(parm)
        return True
    except :
        print("Your input is not a proper value.")
        return False

"""
This while loop will continue until the user inputs 'q' to quit.
"""
while True :
    response = input("Do you wish to (I)nput test score or (Q)uit: ")    # Obtains user's choice 'i' or 'q'
    if response.lower() != 'i' and response.lower() != 'q' :
        print("You entered an invalid response.")                        # Invalid response if not 'i' or 'q'
    elif response.lower() == 'q' :
        print("Good-bye.")                                               # Quits if input is 'q'
        break
    elif response.lower() == 'i' :
        test_score = input("Please enter student test score: ")
        if check_float(test_score) :                                     # Tests input is a proper float value
            scores.append(float(test_score))                             # Appends to user score input into list
            get_average(scores)                                          # Sends entire list to get_average function.

Do you wish to (I)nput test score or (Q)uit: i
Please enter student test score: 150
 1.	 150.00
Average score:	 150.00
Do you wish to (I)nput test score or (Q)uit: i
Please enter student test score: 200
 1.	 150.00
 2.	 200.00
Average score:	 175.00
Do you wish to (I)nput test score or (Q)uit: i
Please enter student test score: 75.5
 1.	 150.00
 2.	 200.00
 3.	  75.50
Average score:	 141.83
Do you wish to (I)nput test score or (Q)uit: i
Please enter student test score: 200
 1.	 150.00
 2.	 200.00
 3.	  75.50
 4.	 200.00
Average score:	 156.38
Do you wish to (I)nput test score or (Q)uit: i
Please enter student test score: 350
 1.	 150.00
 2.	 200.00
 3.	  75.50
 4.	 200.00
 5.	 350.00
Average score:	 195.10
Do you wish to (I)nput test score or (Q)uit: i
Please enter student test score: blahblah
Your input is not a proper value.
Do you wish to (I)nput test score or (Q)uit: i
Please enter student test score: 100
 1.	 150.00
 2.	 200.00
 3.	  75.50
 4.	 200.00
 5.	 350.00
 6.	 100.00
Average score:	 179.25
Do you wish to (I)nput test score or (Q)uit: q
Good-bye.

Challenge:
Write a program that maintains a list of movies, and the user can list all the movies, add a movie to the list, or delete a movie from the list.

Example

###### COMMAND MENU
```
list - list all movies
add - add a movie
del - delete a movie
exit - exit program 
```

###### Command: list
``` 
 1. Toy Story
 2. Lion King
 3. Frozen
 ```

###### Command: add
 ```
 Name: Snow White
 Snow White was added.
 ```

###### Command: del
```
 Number: 3
 Frozen was deleted.```

In [104]:
movies = []

def command_menu() :
    print("##### COMMAND MENU")
    print("list - list all movies")
    print("add  - add a movie")
    print("del  - delete a movie")
    print("exit - exit program")

def list_movies(movie_list) :
    if len(movie_list) == 0 :
        print("There are currently no movies in your database.")
    else :
        movie_list.sort()
        count = 1
        for movie_name in movie_list :
            print(f"{count:2}. {movie_name}")
            count += 1

def add_movie() :
    movie_name = input("Name: ")
    movies.append(movie_name)
    print(f"{movie_name} was added.")
    
def delete_movie() :
    list_movies(movies)
    list_number = int(input("Number: "))
    if list_number <= 0 or list_number > len(movies) :
        print("Invalid movie title choice.")
    else :
        movie_name = movies.pop(list_number-1)
        print(f"{movie_name} was deleted.")
    
command_menu()
while True :
    command = input("###### Command: ").lower()
    print("```")
    if command == "exit" :
        print("Good-bye.")
        break
    elif command == "list" :
        list_movies(movies)
    elif command == "add" :
        add_movie()
    elif command == "del" :
        delete_movie()
    print("```")

##### COMMAND MENU
list - list all movies
add  - add a movie
del  - delete a movie
exit - exit program
###### Command: list
```
There are currently no movies in your database.
```
###### Command: add
```
Name: Mulan
Mulan was added.
```
###### Command: add
```
Name: Toy Story
Toy Story was added.
```
###### Command: add
```
Name: The Little Mermaid
The Little Mermaid was added.
```
###### Command: add
```
Name: The Avengers
The Avengers was added.
```
###### Command: add
```
Name: The Avengers: Endgame
The Avengers: Endgame was added.
```
###### Command: list
```
 1. Mulan
 2. The Avengers
 3. The Avengers: Endgame
 4. The Little Mermaid
 5. Toy Story
```
###### Command: del
```
 1. Mulan
 2. The Avengers
 3. The Avengers: Endgame
 4. The Little Mermaid
 5. Toy Story
Number: 2
The Avengers was deleted.
```
###### Command: list
```
 1. Mulan
 2. The Avengers: Endgame
 3. The Little Mermaid
 4. Toy Story
```
###### Command: add
```
Name: E.T.
E.T. was added.
```
###### Command: list
```
 1. E.T.
 2. Mulan
 3. The Avengers: Endgame
 4. The Little Mermaid
 5. Toy Story
```
###### Command: add
```
Name: 101 Dalmations
101 Dalmations was added.
```
###### Command: list
```
 1. 101 Dalmations
 2. E.T.
 3. Mulan
 4. The Avengers: Endgame
 5. The Little Mermaid
 6. Toy Story
```
###### Command: del
```
 1. 101 Dalmations
 2. E.T.
 3. Mulan
 4. The Avengers: Endgame
 5. The Little Mermaid
 6. Toy Story
Number: 4
The Avengers: Endgame was deleted.
```
###### Command: list
```
 1. 101 Dalmations
 2. E.T.
 3. Mulan
 4. The Little Mermaid
 5. Toy Story
```
###### Command: exit
```
Good-bye.